# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
git+https://github.com/vpcreatz/pyrofork-adv.git
# --- For-Web-Response ------- #
aiohttp
